<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color:red; 
            }
            .title { 
               font-size: 24px;
               font-weight: bold;
            }
            .heading { 
                text-align: center;
                font-size: 24px;
             }


 



        </style>
    </head>
<body>
    <span style =  padding: 15px;"><a href="./blog">Main Blog Page</a></span>
        <span style = "padding: 15px;"><a href="./index">Contributors</a></span>
        <span style = "padding: 15px;"><a href="./newpost">Add a Blog Entry</a></span>
        <span style = "padding: 15px;"><a href="./login">Login</a></span>
        <span style = "padding: 15px;"><a href="./logout">Log Out</a></span>
      
   
    
    
    
    
    {% with messages = get_flashed_messages(with_categories=True) %} 
          {% for category,message in messages %}
           <p class='{{category}}'>{{message}}</p>
           {% endfor %}
    {% endwith %}
    
    {% block content %}
    {% endblock %}

</body>
</html>