{% extends "base.html" %}

{% block content %}
    <div class="heading"><h1>Blogz</h1></div>

  
    {% if entries|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        
            {% for entry in entries %}
            <div class='title'><a href="./blog?id={{entry.id}}">{{entry.title}}</a></div>
            
            
            <div>{{entry.body}}</div>

            written by: <a href="./author_entry?id={{entry.owner.id}}">{{entry.owner.username}}</a>
            <hr />
            {% endfor %}
       

    {% endif %}

   



{% endblock %}